*{
    margin: 0%;
    padding: 0%;
}
header {
    width: 100%;
}
header > h1{
    display: flex;
    justify-content: center;
    padding: 6%;
    padding-bottom: 30%;
}
textarea{
    background-color: aliceblue;
}
textarea[name="user-input"]{
    color: black;
}
#box1{
    padding: 5%;
    display: flex;
    justify-content: center;
}
ul{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}
ul > li {
    list-style: none;
    margin: 2px;
}
.list{
    width: 100%;
}
.metrics{
    padding: 1%;
    width: auto;
    border: 2px solid #ADB4B5;
    border-radius: 10px;
    background-color: #c6c9ca;
}
#btn-container{
    display: flex;
    justify-content: center;
    padding: 5%;
}
button{
    background-color: #bcbcbc;
    padding: 2%;
    width: 150px;
    border-radius: 15px;
}
#reset-button{
    color: black;

}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer > p{
    padding-top: 30%;
}
